.button {
    border-radius: 5px;
    display: flex;
    transition: filter .2s;
    justify-content: space-around;
}

.button:hover {
    filter: brightness(92%);
}

.button:active {
    filter: contrast(70%);
}

.button .buttonIcon {
    display: flex;
}


