.button {
    border-radius: 5px;
    display: flex;
    padding: 20px 30px 20px 30px;
    transition: filter .2s;
    justify-content: space-around;
}

.button:hover {
    filter: brightness(92%);
}

.button:active {
    filter: contrast(70%);
}

.button .buttonIcon {
    display: flex;
}

@media screen and (max-width: 750px) {
    .button {
        padding: 15px 15px 15px 15px;
    }
}


