.projectsPageContent {
    --project-margin-size: 10px;
    --project-margin-correction: -10px;
}

.projectsPageContent .projectCardsGrid {
    margin-left: var(--project-margin-correction);
    margin-right: var(--project-margin-correction);
    display: flex;
    flex-wrap: wrap;
}

.projectsPageContent ul.projectCardsGrid > li {
    padding: var(--project-margin-size);
    max-width: 25%;
}

@media screen and (max-width: 1600px) {
    .projectsPageContent ul.projectCardsGrid > li {
        max-width: 33%;
    }
}

@media screen and (max-width: 1000px) {
    .projectsPageContent ul.projectCardsGrid > li {
        max-width: 50%;
    }
}

@media screen and (max-width: 750px) {
    .projectsPageContent ul.projectCardsGrid > li {
        max-width: 100%;
    }
}