.button.headerButton {
    padding: 10px 30px 10px 30px;
    margin: 5px;
    border: 1px solid var(--main-color);
    background-color: var(--card-background-color);
    color: var(--main-color);
    font-weight: var(--btn-font-weight);
    font-size: var(--secondary-font-size);
}

.button.headerButton:hover {
    filter: saturate(500%) drop-shadow(0 0 1px var(--main-color));
}

.button.headerButton:active {
    filter: saturate(1500%) drop-shadow(0 0 3px var(--main-color));
}

.button.headerButton>* {
    align-self: center;
}