.projectTechIcon svg {
    min-width: 32px;
    min-height: 32px;
}

.projectTechIcon {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.projectInfoCardContent ul:nth-last-child(2) {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.projectInfoCardContent ul:nth-last-child(2) li {
    padding: 10px;
    display: flex;
}