.welcomeSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 25px;
}

.welcomeSection .consoleStyleText {
    color: var(--main-color);
    font-size: calc(1*var(--main-font-size));
    font-weight: bold;
    padding: 1em;
    border-radius: 10px;
}

.welcomeSection .profilePic {
    max-width: 25%;
    padding: 12px;
    box-shadow: 0 0 3px var(--card-shadow-on-hover);
    filter: drop-shadow(10px 10px 10px var(--card-shadow-on-hover));
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: var(--card-background-color);
    border-radius: 12px;
    display: flex;
}

.welcomeSection .profilePic * {
    min-width: 100%;
    min-width: 100%;
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
}

@media screen and (min-width: 1850px) {
    .welcomeSection .consoleStyleText {
        font-size: calc(1.2*var(--main-font-size));
    }
}

@media screen and (max-width: 1000px) {
    .welcomeSection {
        flex-direction: column;
        align-items: center;
    }
    .welcomeSection .profilePic {
        max-width: 30vw;
        margin-bottom: 10px;
    }
}