.card {
    border-top: 3px solid var(--card-detail-color);
    padding: 15px;
    box-shadow: 0 0 5px var(--card-shadow-default);
    transition: box-shadow .4s;
    background-color: var(--card-background-color)
}

.card:hover {
    box-shadow: 0 0 11px var(--card-shadow-on-hover);
}

.card :is(h1, h2, h3, h4, h5, h6) {
    font-size: var(--main-secondary-font-size);
    font-weight: 900;
    padding: 5px 15px 5px 10px;
}

.card p {
    font-size: var(--main-text-font-size);
    padding: 5px 15px 10px 15px;
}

.card ul {
    list-style-type: none;
}