.homePageContent h1 {
    padding: 20px 0px 0px 0px;
}

.homePageContent .card.welcomeCard p {
    padding-bottom: 1em;
}

.homePageContent .card.welcomeCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.homePageContent .card.welcomeCard .profilePic {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    box-shadow: 0 0 2px var(--card-shadow-default);
    border-radius: 100%;
    background-color: var(--card-background-color);
    padding: 2px;
    margin: 2%;
    max-width: 20%;
}

.homePageContent .card.welcomeCard .profilePic *{
    border-radius: 100%;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .homePageContent .card.welcomeCard .profilePic {
        max-width: 35%;
        margin: 4%;
    }
}

@media screen and (max-width: 500px) {
    .homePageContent .card.welcomeCard .profilePic {
        max-width: 100%;
        margin: 15%;
    }
}