.homePageContent {
    margin-top: 25px;
    margin-bottom: 25px;
}

.homePageContent h1 {
    text-align: center;
    margin-bottom: 15px;
}

.favoriteProjectsList {
    display: flex;
    justify-content: space-around;
}

.favoriteProjectsList>li {
    padding: 15px 0px;
}

.favoriteProjectsList>li:nth-child(2) {
    min-width: 40%;
    padding: 0px 15px;
}

footer {
    margin: 25px auto;
    max-width: 65%;
}

footer .socialButtons {
    display: flex;
}

footer .socialButtons .button {
    width: 100%;
}

footer .socialButtons .button~.button {
    margin-left: 10px;
}