.button.cardButton {
    padding-left: 25px;
    padding-right: 25px;
    background-color: var(--card-background-color);
}

.button.cardButton>* {
    color: var(--card-btn-text-color);
    font-weight: var(--card-btn-font-weight);
    align-self: center;
}

.button.cardButton svg {
    min-height: 16px;
    max-height: 56px;
}

@media screen and (max-width: 750px) {
    .button.cardButton {
        padding-left: 5px;
        padding-right: 5px;
    }
}