.button.cardButton {
    text-align: center;
    background-color: var(--main-background-color);
    display: flex;
    padding: 15px 25px 15px 25px;
    margin-top: 10px;
}

.button.cardButton>* {
    color: var(--main-color);
    font-weight: var(--btn-font-weight);
    align-self: center;
}

.button.cardButton .buttonIcon {
    margin-left: auto;
}

.button.cardButton svg {
    min-height: 16px;
    max-height: 56px;
    fill: var(--main-color);
}

.button.cardButton svg * {
    fill: var(--main-color);
}

@media screen and (max-width: 750px) {
    .button.cardButton {
        padding: 10px 15px 10px 15px;
    }
}