.button.cardButton {
    padding-left: 25px;
    padding-right: 25px;
    background-color: var(--card-background-color);
}

.button.cardButton>a {
    padding: 5px 0px 5px 0px;
    color: var(--card-btn-text-color);
    font-weight: var(--card-btn-font-weight);
    align-self: center;
}

.button.cardButton svg {
    padding: 8px;
    min-height: 16px;
    max-height: 56px;
}