.homePage {
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.homePage .button{
    margin: 10px;
    width: 50%;
    text-align: center;
    white-space: nowrap;
    padding: 25px;
    font-size: 2em;
    font-weight: var(--primary-btn-font-weight);
    color: var(--main-color);
}

@media screen and (max-width: 1000px) {
    .homePage .button{
        width: 75%;
    }
}

@media screen and (max-width: 500px) {
    .homePage .button{
        width: 95%;
    }
}