.workResumePage section:first-child {
    margin-top: 20px;
}

.workResumePage section:last-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.workResumePage section:last-child>h1 {
    min-width: 100%;
}

.workResumePage section:last-child>.workResumeInfoCard {
    display: flex;
    flex-wrap: wrap;
    min-width: 49%;
    max-width: 49%;
    align-items: center;
    justify-content: space-between;
}

.workResumePage section:last-child>.workResumeInfoCard h2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: calc(2 * var(--secondary-font-size));
    margin-bottom: 10px;
}

.workResumePage h1 {
    font-weight: bold;
}

.workResumePage section {
    margin-bottom: 20px;
}

.workResumeCard {
    display: flex;
    justify-content: space-between;
}

.workResumeQuote {
    padding: 25px;
}

.workResumeQuote blockquote {
    font-size: var(--main-font-size);
    color: var(--main-color);
    white-space: pre-wrap;
}

.workResumeQuote>* {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.workResumeQuote figcaption {
    font-size: var(--secondary-font-size);
    font-weight: bold;
    color: var(--main-color);
    padding-top: 20px;
    width: fit-content;
}

.workSkills .workSkillsCard {
    font-weight: bold;
}

.workSkills .workSkillsCard ul {
    padding-left: 15px;
    padding-right: 15px;
}

.workSkills .workSkillsCard li {
    margin: 10px;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .workResumeCard {
        flex-direction: column;
    }
}