.workResumePage section:first-child {
    margin-top: 20px;
}

.workResumePage h1 {
    font-weight: bold;
}

.workResumePage section {
    margin-bottom: 20px;
}

.workResumeCard {
    display: flex;
    justify-content: space-between;
}

.workResumeQuote {
    padding: 25px;
}

.workResumeQuote blockquote {
    font-size: var(--main-font-size);
    color: var(--main-color);
    white-space: pre-wrap;
}

.workResumeQuote>* {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.workResumeQuote figcaption {
    font-size: var(--secondary-font-size);
    font-weight: bold;
    color: var(--main-color);
    padding-top: 20px;
    width: fit-content;
}

.workSkills .workSkillsCard {
    font-weight: bold;
}

.workSkills .workSkillsCard ul {
    padding-left: 15px;
    padding-right: 15px;
}

.workSkills .workSkillsCard li {
    margin: 10px;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .workResumeCard {
        flex-direction: column;
    }
}