h1.aboutMePageHeader {
    color: var(--main-title-color);
    font-weight: bold;
    padding: 10px 0px 10px 0px;
}

.aboutMePageContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
}

.aboutText .aboutMePageContent {
    padding-bottom: 30px;
}

.technologies .aboutMePageContent>div {
    display: flex;
    flex-direction: column;
    min-width: 25%;
    max-width: 25%;
}

.technologies .aboutMePageContent .left {
    padding: 0px 20px 0px 0px;
}

.technologies .aboutMePageContent .right {
    padding: 0px 0px 0px 20px;
}

.technologies .aboutMePageContent .centerLeft {
    padding: 0px 10px 0px 0px;
}

.technologies .aboutMePageContent .centerRight {
    padding: 0px 0px 0px 10px;
}

.aboutMePageContent .card {
    margin-bottom: 20px;
    height: -webkit-fill-available;
}

@media screen and (max-width: 1000px) {
    .technologies .aboutMePageContent>div {
        min-width: 50%;
        max-width: 50%;
    }
    .technologies .aboutMePageContent .left {
        padding: 0px 5px 0px 0px;
        order: 3;
    }
    .technologies .aboutMePageContent .right {
        padding: 0px 0px 0px 5px;
        order: 4;
    }
    .technologies .aboutMePageContent .centerLeft {
        padding: 0px 5px 0px 0px;
        order: 1;
    }
    .technologies .aboutMePageContent .centerRight {
        padding: 0px 0px 0px 5px;
        order: 2;
    }
}

@media screen and (max-width: 500px) {
    .technologies .aboutMePageContent>div {
        min-width: 100%;
    }
    .technologies .aboutMePageContent .left {
        padding: 0px;
    }
    .technologies .aboutMePageContent .right {
        padding: 0px;
    }
    .technologies .aboutMePageContent .centerLeft {
        padding: 0px;
    }
    .technologies .aboutMePageContent .centerRight {
        padding: 0px;
    }
}