.stackSection .mainStackCards {
    display: flex;
    flex-direction: column;
}

.stackSection .mainStackCards ul {
    justify-content: center;
    min-width: min-content;
    width: 100%;
    display: flex;
}

.stackSection .mainStackCards ul li {
    width: 25%;
    display: flex;
    padding: 6px;
}

.stackSection .mainStackCards ul li>* {
    width: 100%;
}

@media screen and (min-width: 1200px) {
    .stackSection .mainStackCards ul li {
        width: 18%;
        padding: 10px;
    }
}

@media screen and (max-width: 500px) {
    .stackSection .mainStackCards ul li {
        padding: 2px;
    }
}