.homePageContent footer {
    transition: opacity 0.6s linear;
    margin: 25px auto;
    max-width: 65%;
}

.homePageContent footer .socialButtons {
    display: flex;
}

.homePageContent footer .socialButtons .button {
    width: 100%;
}

.homePageContent footer .socialButtons .button~.button {
    margin-left: 10px;
}

@media screen and (max-width: 1000px) {
    .homePageContent footer {
        max-width: 85%;
    }
}

@media screen and (max-width: 500px) {
    .homePageContent footer {
        max-width: unset;
    }
    .homePageContent footer .socialButtons {
        padding-top: 25px;
        flex-direction: column;
    }
    .homePageContent footer .socialButtons .button~.button {
        margin-left: unset;
    }
}