.headerMenu {
    display: flex;
    justify-content: center;
    padding: var(--main-content-padding);
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: var(--card-background-color);
    box-shadow: 0 0 3px var(--card-shadow-default);
}

.headerMenuContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 80vw;
}

.headerMenuContainer .socialIcons {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: 5px;
    margin-left: auto;
}

.headerMenuContainer .socialIcons .headerSocialButton {
    padding: 10px;
    height: 100%;
    background-color: var(--card-background-color);
}


.headerMenuContainer .socialIcons svg {
    fill: var(--main-color);
}

.headerMenuContainer .socialIcons svg * {
    fill: var(--main-color);
}

@media screen and (max-width: 1600px) {
    .headerMenuContainer {
        min-width: 100%;
    }
    .headerMenu {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 750px) {
    .headerMenuContainer {
        flex-direction: column;
    }
    .headerMenuContainer .socialIcons {
        margin-left: 5px;
    }
}