.workResumeTitle .workResumeCard>* {
    margin: 20px;
}

.workResumeTitle .personName {
    font-size: var(--main-font-size);
    font-weight: bold;
    color: var(--main-color);
}

.workResumeTitle .personRole {
    padding-left: 5%;
    color: var(--main-color);
    font-weight: bold;
    font-size: var(--small-font-size);
}

.workResumeTitle .personAddress {
    font-size: var(--small-font-size);
    padding-left: 5%;
}

.workResumeTitle .profilePic {
    width: 35%;
    display: flex;
    height: min-content;
    align-self: center;
    padding: 1px;
    border-radius: 100%;
    box-shadow: 0 0 5px grey;
}

.workResumeTitle .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
}

.workResumeTitle .personSocial .cardButton {
    display: flex;
    justify-content: space-between;
}

.workResumeTitle .personSocial li {
    padding: 2px;
}

.workResumeTitle .profilePic * {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

@media screen and (max-width: 1000px) {
    .workResumeTitle .profilePic {
        width: 40%;
        min-width: 200px;
    }
    .workResumeTitle .content {
        width: 60%;
    }
}

@media screen and (max-width: 500px) {
    .workResumeTitle .profilePic {
        width: 90%;
    }
    .workResumeTitle .content {
        width: inherit;
    }
}