.stackInfoCardContent {
    padding-bottom: 20px;
}

.card:hover .glow.stackInfoCardContent {
    filter: saturate(3000%);
}

.glow.stackInfoCardContent svg {
    transition: fill .2.5s .25s;
    transition: filter .3s;
}

.card:hover .glow.stackInfoCardContent svg {
    transition: all .3s;
    fill: var(--card-detail-color);
    filter: drop-shadow(0 0 10px var(--card-detail-color)) drop-shadow(0 0 1px var(--card-btn-text-color));
}

.card:hover .glow.stackInfoCardContent h1 {
    transition: all .3s;
    color: var(--card-detail-color);
    filter: drop-shadow(0 0 10px var(--card-detail-color)) drop-shadow(0 0 1px var(--card-btn-text-color));
}

.glow.stackInfoCardContent h1 {
    transition: fill .2.5s .25s;
    transition: filter .3s;
}

.stackInfoCardContent h1 {
    text-align: center;
    padding: 5px;
}

.stackInfoBadge {
    padding: 20px 0px 15px 0px;
    display: flex;
    justify-content: center;
}

.stackInfoBadge .badge {
    width: 80%;
}

.stackInfoSmallBadge {
    padding: 20px 0px 15px 0px;
    display: flex;
    justify-content: center;
}

.stackInfoSmallBadge .badge {
    width: 30%;
}

.stackInfoCardContent ul {
    padding: 10px;
}

.glow.stackInfoCardContent li {
    font-size: var(--small-font-size);
    transition: fill .2.5s .25s;
    transition: filter .3s;
}

.stackInfoCardContent li {
    text-align: center;
    padding: 5px;
}

.card:hover .glow.stackInfoCardContent li {
    transition: all .3s;
    color: var(--card-detail-color);
    font-weight: bold;
    filter: drop-shadow(0 0 10px var(--card-detail-color)) drop-shadow(0 0 1px var(--card-btn-text-color));
}

@media screen and (max-width: 500px) {
    .stackInfoCard {
        --badge-max-width: 50vw;
    }
}