.stackInfoCardContent {
    padding-bottom: 20px;
}

.glow.stackInfoCardContent svg {
    transition: fill .2.5s .25s;
    transition: filter .3s;
}

.card:hover .glow.stackInfoCardContent svg {
    transition: all .3s;
    fill: var(--card-detail-color);
    filter: blur(1px) saturate(1000%) drop-shadow(0 0 5px var(--card-detail-color));
}

.card:hover .glow.stackInfoCardContent h1 {
    transition: all .3s;
    color: var(--card-detail-color);
    filter: blur(1px) saturate(1000%) drop-shadow(0 0 5px var(--card-detail-color));
}

.glow.stackInfoCardContent h1 {
    transition: fill .2.5s .25s;
    transition: filter .3s;
}

.stackInfoCardContent h1 {
    text-align: center;
    padding: 5px;
}

.stackInfoBadge>div {
    padding: 30px 70px 30px 70px;
}

.stackInfoCardContent ul {
    padding: 10px;
}

.glow.stackInfoCardContent li {
    transition: fill .2.5s .25s;
    transition: filter .3s;
}

.stackInfoCardContent li {
    text-align: center;
    padding: 5px;
}

.card:hover .glow.stackInfoCardContent li {
    transition: all .3s;
    color: var(--card-detail-color);
    font-weight: bold;
    filter: blur(1px) saturate(1000%) drop-shadow(0 0 2px var(--card-detail-color));
}