@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,400;0,700;0,900;1,200;1,400&display=swap');
:root {
    --main-color: rgb(93, 93, 153);
    --main-background-color: rgb(240, 240, 255);
    --main-title-color: var(--main-color);
    --primary-btn-font-weight: 900;
    --primary-btn-text-color: white;
    --card-btn-font-weight: 900;
    --card-btn-text-color: black;
    --card-background-color: rgb(235, 235, 235);
    --card-shadow-default: rgb(107, 107, 107);
    --card-shadow-on-hover: darkgrey;
    --card-detail-color: var(--main-color);
    --main-content-padding: 0px 150px 0px 150px;
}

::selection {
    color: var(--primary-btn-text-color);
    background: var(--main-color);
}

* {
    font-family: 'Source Code Pro', monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    background-color: var(--main-background-color)
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
    cursor: default;
}

svg {
    stroke-linejoin: round;
}

#root main {
    padding: var(--main-content-padding);
}

@media screen and (max-width: 1200px){
    :root {
        --main-content-padding: 0px 50px 0px 50px;
    }
}

@media screen and (max-width: 1000px){
    :root {
        --main-content-padding: 0px 20px 0px 20px;
    }
}

@media screen and (max-width: 500px){
    :root {
        --main-content-padding: 0px 10px 0px 10px;
    }
}