@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,400;0,700;0,900;1,200;1,400&display=swap');
:root {
    --main-background-color: rgb(240, 240, 255);
    --primary-btn-font-weight: 900;
    --primary-btn-text-color: white;
    --card-btn-font-weight: 900;
    --card-btn-text-color: black;
    --card-background-color: rgb(250, 250, 255);
    --main-color: rgb(93, 93, 153);
}

::selection {
    color: var(--primary-btn-text-color);
    background: var(--main-color);
}

* {
    font-family: 'Source Code Pro', monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    padding: 10px;
    background-color: var(--main-background-color)
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    padding: 20px;
}