.workResumeInfoCard {
    margin-bottom: 10px;
}

.workResumeInfoCard:last-child {
    margin-bottom: 0px;
}

.workResumeInfoCard h2 {
    font-size: var(--secondary-font-size);
    color: var(--main-color);
}

.workResumeInfoCard .subtitle {
    font: optional;
    padding-left: 15px;
    font-style: italic;
}

.workResumeInfoCard li {
    margin: 10px;
    text-align: center;
}