h1.aboutMePageHeader {
    color: var(--main-title-color);
    font-weight: bold;
    font-size: 4em;
    padding: 10px;
}

.aboutMePageContent {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.aboutMePageContent>div {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.aboutMePageContent .card{
    margin-bottom: 20px;
    height: -webkit-fill-available;
}