h1.aboutMePageHeader {
    color: var(--main-title-color);
    font-weight: bold;
    font-size: 4em;
    padding: 10px;
}

.aboutMePageContent {
    display: flex;
    padding: 20px;
}

.aboutMePageContent>div {
    display: block;
    padding: 10px;
}
.aboutMePageContent .card{
    margin-bottom: 10px;
}